@font-face {
    font-family: 'Norse-Bold';
    font-weight: bold;
    src: url("./fonts/Norse-Bold.otf") format("opentype");
}

:root{
    --background: rgb(219, 219, 219);
    --light-font: rgb(238, 238, 238);
    --dark-font: rgb(85, 95, 105);
    --shadow: rgb(139, 139, 139);
}
*{
    font-family: "Norse-Bold", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

footer{
    text-align: center;
    margin: auto auto 5px auto ;
    color: var(--light-font);
    font-size: .8em;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 50%);
    width: 100%;
    height: auto;
    margin-top: auto;
}

.image-container>img{
    height: 100px;
    width: auto;
    margin: 10px;
}

.left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./images/background");
    background-size: cover;
    width: 30vw;
}

.right-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 70vw;
    background-color: var(--background);
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    font-size: 32px;
    padding: 20px;
    color: var(--dark-font);
}

.submit-box{
    padding: 20px;
}

.form-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

form{
    background-color: var(--light-font);
    padding: 20px;
    width: 100%;
    height: max(40%, 200px);
    box-shadow: 0 5px 10px var(--shadow);
    color: var(--dark-font);
    font-size: 18px;
}


form input{
    appearance: none;
    font-size: 18px;
    border: 1px solid var(--dark-font);
    border-radius: 5px;
    color: var(--dark-font);
    padding: 5px;
    width: 70%;
    margin: 5px 0 ;
}

form input::placeholder{
    color: var(--background);
}

legend{
    font-size: 32px;
}

fieldset{
    border-style: none;
    padding: 10px;
}

/*Phone query (600px or less)*/
@media only screen and (max-width: 600px) {
    body {
      flex-direction: column;
    }
  }