@font-face {
    font-family: 'Norse-Bold';
    font-weight: bold;
    src: url("./fonts/Norse-Bold.otf") format("opentype");
}

*{
    font-family: "Norse-Bold", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

footer{
    text-align: center;
    margin: auto auto 5px auto ;
    color: rgba(255, 255, 255, 0.7);
    font-size: .8em;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 50%);
    width: 100%;
    height: auto;
    margin-top: auto;
}

.image-container>img{
    height: 100px;
    width: auto;
    margin: 10px;
}

.left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./images/background");
    background-size: cover;
    width: 35vw;
}

.right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*Phone query (600px or less)*/
@media only screen and (max-width: 600px) {
    body {
      flex-direction: column;
    }
  }