@font-face {
    font-family: 'Norse-Bold';
    font-weight: bold;
    src: url("./fonts/Norse-Bold.otf") format("opentype");
}

:root{
    --background: rgb(219, 219, 219);
    --light-font: rgb(238, 238, 238);
    --dark-font: rgb(85, 95, 105);
    --shadow: rgb(139, 139, 139);
    --focus: rgb(134, 211, 255);
    --error: rgb(255, 103, 103);
    --link: rgb(98, 158, 98);
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height: 100vh;
}

footer{
    text-align: center;
    margin: auto auto 5px auto ;
    color: var(--light-font);
    font-size: .8em;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 50%);
    width: 100%;
    height: auto;
    margin-top: auto;
}

.image-container>img{
    height: 100px;
    width: auto;
    margin: 10px;
}

.image-container>h1{
    font-family: 'Norse-Bold', sans-serif;
    color: var(--light-font);
    font-size: 56px;
}

.left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background-image: url("./images/background");
    background-size: cover;
    width: 30vw;
}

.right-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 70vw;
    background-color: var(--background);
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    color: var(--dark-font);
}

.hero p{
    margin: 20px 0;
}

.submit-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    color: var(--dark-font);
    margin: 10px 0 auto 10px;
}

.form-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-font);
    padding: 20px;
    width: 100%;
    height: 300px;
    box-shadow: 0 5px 10px var(--shadow);
    color: var(--dark-font);
    font-size: 14px;
}


form input{
    appearance: none;
    font-size: 14px;
    border: 1px solid var(--dark-font);
    border-radius: 5px;
    color: var(--dark-font);
    padding: 5px;
    width: 70%;
    margin: 10px 0 ;
}

form input:focus{
    appearance: none;
    border: 1px solid var(--focus);
    box-shadow: 0 0 15px var(--focus);
}

form input::placeholder{
    color: var(--background);
}

form input:invalid{
    border: 1px solid var(--error);
    box-shadow: 0 0 15px var(--error);
}

/*until someone invents a previous sibling selector*/
#required::before{
    content: "*";
}


legend{
    font-size: 24px;
}

fieldset{
    width: 100%;
    border-style: none;
    padding: 10px;
}

button{
    cursor: pointer;
    padding: 10px;
    width: 200px;
    background-color: var(--link);
    color: var(--light-font);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 0px 10px var(--dark-font);
}

a{
    color: var(--link);
    text-decoration: none;
}
/*Phone query (600px or less)*/
@media only screen and (max-width: 600px) {
    body {
      flex-direction: column;
      align-items: center;
    }

    .left-container{
        min-height: auto;
        height: auto;
        width: 100%;
    }

    .image-container{
        width: 100%;
    }
    
    .image-container>img{
        height: 50px;
        width: auto;
        margin: 5px;
    }
    
    .image-container>h1{
        font-size: 32px;
    }

    footer{
        margin-top:10px;
        font-size: 5px;
    }

    .right-container{
        align-items: center;
        height: auto;
        width: 100vw;
        background-color: var(--background);
    }
    
    .hero{
        align-items: center;
        font-size: 10px;
        font-weight: bold;
        width: 100vw;
    }
    
    .hero p{
        font-size: 1.5em;
        width: 100%;
        margin: 5px auto;
    }
  }